/* Estos estilos de body se aplicarán a todos los componentes, se pueden modificar a futuro al momento de usar tailwind u otro framework*/
body {
  background-image: url("../../assets/homebg.webp");
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0%;
  padding: 0%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  width: 100%;
  padding-bottom: 20%;
}

.container{
  width: fit-content;
}

.title {
  text-align: center;
  margin-top: 90px;
  font-size: 24px;
  font-weight: bolder;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.title h2 {
  font-size: 36px;
  margin-top: 0;
}

.previous_container {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  width: 5rem;
  border: 1px groove #c5f6639f;
  margin-right: auto; /* Mueve el contenedor "Prev" hacia la izquierda */
  position: absolute;
  left: 5rem;
  top: 750px;
  border-radius: 100%;
}

.next_container {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  width: 5rem;
  border: 1px groove #c5f6639f;
  margin-left: auto; /* Mueve el contenedor "Next" hacia la derecha */
  position: absolute;
  right: 5rem;
  top: 750px;
  border-radius: 100%;
}

.previous_container button {
  background-color: #c5f6639f;
  color: #1a1a1a;
  border: none;
  flex: 1;
  border-radius: 100%;
}

.next_container button{
  background-color: #c5f6639f;
  color: #1a1a1a;
  border: none;
  flex: 1;
  border-radius: 100%;
}