/* ----- Variables ----- */
* {
  box-sizing: border-box;
}

:root {
  --colorprimary: #c5f6639f;
  --colorsecondary: #a6a6a6;
  --colorhighlight: skyblue;
}

/* ----- Global ----- */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 150px;
  height: 150px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.imagen{
  width: 25%;
  position: absolute;
  top: 27%;
  left: 22%;
  border-radius: 0.5em;
}

.divider {
  border-right: 1px solid #ccc; /* Establece el color y grosor de la línea divisoria vertical */
  height: 100%; /* Ajusta la altura de la línea divisoria vertical */
  margin-right: 10px; /* Ajusta el espacio entre la línea divisoria y el contenido del card */
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product__info p {
  font-size: 1.2em;
  color: var(--colorsecondary);
  margin-bottom: 7px; /* Puedes ajustar este valor según el espacio que desees entre las líneas */
}

.newbtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: #fff;
  background-color: var(--colorhighlight);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--colorprimary);
  }
}

/* Estilo para el mensaje de carga */
.loading {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
}

.containerdatos {
  max-width: 80%;
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-direction: column; /* Alinea los elementos en una columna */
  gap: 30px;
  margin: 0 auto 20px; /* Centra el contenedor en la página y agrega margen inferior */
  text-align: center; /* Centra el texto dentro de los elementos hijos */
}


.comentarios {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.commentButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: rgb(58, 58, 58);
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--colorprimary);
    color: #fff;
  }
}

