/* Estilos para el contenedor principal */
.loginContainer {
  max-width: 400px;
  margin-top: 20px !important;
  margin-bottom: 50px;
  /* height: 400px; */
  margin: 0 auto;
  /* padding: 20px; */
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.inlineFields {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas  */
  gap: 30px; /* Espacio entre los campos */
  margin-bottom: 20px;
}
/* //! */
.h1Login {
  text-align: center;
  margin-bottom: 20px;
  color: #576362;
}

.h2Login {
  text-align: center;
  margin-bottom: 20px;
  color: #515151;
}
.h3Login {
  text-align: center;
  margin-bottom: 10px;
  color: #515151;
}

/* Estilos para los enlaces */
.linkLogin {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff; /* Cambia el color del enlace según tu preferencia */
}

.labelLogin {
  text-align: justify;
  margin-bottom: 10px;
  color: #515151;
}
/* //! */

/* Estilos para los campos de entrada */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para el botón de inicio de sesión */
.contenedorBoton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitbutton {
  width: 80%;
  padding: 10px;
  background-color: #5df4ed; /* Cambia el color del botón según tu preferencia */
  color: #576362;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitbutton:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.buttonsContainer {
  margin: 1rem;
  display: flex;
  flex-direction: column; /* Para apilar los botones verticalmente */
  align-items: center; /* Para centrar los elementos verticalmente */
  justify-content: center; /* Para centrar los elementos horizontalmente */
}
.loginButtonGoogle {
  /* width: 150px; */
  width: 90%;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #df4930;
}

.loginButtonFb {
  margin-right: 10%;
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #507cc0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
