@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  --dark: #e0e0e09a;
  --green: #c5f6639f;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.location {
  background-position: right;
  color: black;
  text-align: center;
}

.name {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  padding: 25px;
  font-size: 15px;
  font-weight: bolder;
  font-family: sans-serif;
  transition: background-color 0.5s;
}

.name:hover {
  color: var(--green);
}

.date {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-radius: 2rem;
  margin-top: 110px;
  margin-bottom: 10px;
  padding: 0.5rem;
  transition: background-color 0.5s;
}

.edad {
  text-decoration: none;
  text-align: center;
  color: black;
}

.resumen {
  text-decoration: none;
  color: black;
  text-align: center;
}

.image {
  background-color: #94F2F2;
  position: absolute;
  left: 13.5%;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid var(--dark);
  width: 14rem;
  height: 14rem;
  margin-bottom: 2rem;
}

.midcontenedor {
  height: 37%;
  width: auto;
  background-color: #94F2F2;
}

.contenedor {
  background-color: var(--dark);
  align-items: center;
  width: 300px;
  height: 570px;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.486) .2rem .05rem 2rem;
}
