.aboutContainer {
    
    /* display: flex;
    flex-direction: column; */
    margin-top: 40px !important;
    /* margin-left: 150px !important; */
    align-items: center;
    text-align: center;
    padding: 0 auto;
    max-width: 80%;
    padding: 20px;
    /* background-color: #f5f5f5; */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}
.paragraphContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 20px;
}

.paragraphContainerRight {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.paragraph {
margin-bottom: 20px;
font-size: 16px;
/* Otros estilos de párrafo que desees aplicar */
}

.leftParagraph {
    text-align: justify;   
    max-width: 90%;
    margin-bottom: 20px;
    margin: auto;
    font-size: 16px
}

.rightParagraph {
    text-align: justify;
    margin-left: 40px !important;
    max-width: 90%;
    margin-bottom: 10px;
    font-size: 16px
    
}

.containerLeftParagraph {
    text-align: center;
}

.containerRightParagraph {
    text-align: center;
}

.containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; /* Añade margen inferior si es necesario */
}

.imagenParagraph {
    /* position: absolute; */
    /* top: 10px;
    left: 40px; */
    border-radius: 10px;
    height: auto;
    max-height: 200px;
    max-width: 400px;
    /* z-index: 1; */
}

.containerH1 {
    background-color: rgba(255, 225, 168, 0.5);
    /* background-color: rgba(148, 242, 242, 1); */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    color: #515151 ;

}

.containerParrafo {
    
    background-color: rgba(197, 246, 99, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}