
.registerContainer {

    margin-top: 40px;
    max-width: 500px;
    margin-top: 50px !important;
    /* height: 620px; */
    margin: 0 auto;    
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding: 40px; */
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;    
    

}

.logo {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.inlineFields {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas  */
    gap: 30px; /* Espacio entre los campos */
    margin-bottom: 20px;
}

.contenedorimg{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* O ajusta la altura según tus necesidades */
}

.imagenSubida{
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

/* Estilos para los encabezados */
/* //! */
.h1register {
    text-align: center;
    margin-bottom: 20px;
    color: #576362;
}
.h3register {
    text-align: center;
    margin-bottom: 10px;
    color: #576362;
}

.h4register  {
    text-align: center;
    margin-bottom: 10px;
    color: #515151;
    
}


/* Estilos para los enlaces */
.linkRegister  {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff; /* Cambia el color del enlace según tu preferencia */
}

.labelRegister {
    font-weight: bold;
    display: block;
    color: #576362;
}
/* //! */
/* label {
    text-align: justify;
    margin-bottom: 10px;
} */

/* Estilos para los campos de entrada */
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para el botón de registro */
.contenedorBoton {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.submitbutton {
    width: 80%;
    padding: 10px;
    background-color: #5df4ed; 
    color: #576362;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* margin-left: auto;
    margin-right: auto; */
}

.submitbutton:hover {
    background-color: #0056b3; 
}